body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.imagemlogo{
    height: 200px;
    width: 250px;
    margin: 60% 15% 60% 15%;
}



.infologin{
    font-size: medium;
}

.terms{
    font-size: small;
    margin-left: 5% ;
    margin-right: 5%;
}

label{
    position: absolute;
    left: 13px;
    top: 13px;
    padding: 0px 5px;
    background: white;
    font-size: 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}

input:focus{
    transform: translateY(-20px);
    color: black;
}

input:focus{
    border-color: black;
}