body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 5%;
    border: 0px;
}

#email {
  width: 358px;        
  padding: 10px 15px;        
  border: 1px solid #ccc;  
  border-radius: 10px;                   
}

.imagemlogo{
    height: 150px;
    width: 210px;
    margin: 60% 15% 60% 15%;
}

.imagemlogologin{
    height: 110px;
    width: 210px;
    margin: 20% 15% 1% 15%;
}

.infologin{
    margin-top: 50px;
    font-size: 15px;
}

input:focus{
    border-color: black;
}

.infocadatro{
    margin-bottom: 3%;
}

.text-input{
  width:300px
}

.termos{
    color: #888;
    text-decoration: none;
    font-size: 15px;
}

.termodeuso{
    text-align: left;
    font-size: small;
    margin: 10px 15px 10px 15px;
}

.botao{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 231, 231);
    padding: 10px 155px 10px 155px;
    margin-top: 10px;
    text-decoration: none;
    border: 0;
}

.botao2{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 231, 231);
    padding: 12px 120px 12px 120px;
    border: 0;
    margin-bottom: 25px;
    text-decoration: none;
}

.botao3{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 231, 231);
    padding: 12px 78px 12px 78px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    text-decoration: none;
}

.botaoinverso{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 10px 155px 10px 155px;
    margin-top: 15px;
    border: 0;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #888;
  margin: 20px 20px 20px 20px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #c9c7c7;
}

.divider:not(:empty)::before {
  margin-right: 20px;
}

.divider:not(:empty)::after {
  margin-left: 20px;
}