body {
    background-color: rgb(167, 0, 0);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 5%;
    border: 0px;
}

.imagemlogo{
    height: 200px;
    width: 250px;
    margin: 60% 15% 60% 15%;
}

.imagemlogologin{
    height: 200px;
    width: 250px;
    margin: 20% 15% 1% 15%;
}

.infologin{
    font-size: medium;
}

.terms{
    font-size: small;
}

input:focus{
    border-color: black;
}

.infocadatro{
    margin-bottom: 3%;
}

.termodeuso{
    text-align: left;
    font-size: x-small;
}

.botao{
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px;
    color: blue;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.botao:hover{
    background-color: blue;
    color: white;
    transform: scale(1.2)
}